body{
    background-color: darkgrey !important;
    width:100%;
    height: 100vh;
    background-color: var(--background-color) !important;
    color:var(--text-color) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
margin: 0;
padding: 0;
}

